# The combination below ignores all extension-less files (compiled executables)
*
!/**/
!*.*

# Exceptions to the "no extension-less files" rule
!Makefile

# Ignore compilation leftovers
*.a
*.class
*.gch
*.o
*.ppu

# Editor backup files
*.bak
*.swp

# Misc stuff
*.fifo
*.geany
